header{
    background-image: url('/projects/Maquettes/Atelier-du-design/src/img/bg-header.jpg');
    background-size:cover;
    background-position:center;
    padding:10px;

    div{
        display:flex;
        align-items: center;
        width:100%;

        h1{
            margin: 0;

            a img{
                transition: $transition;

                &:hover{
                    opacity:0.6;
                }
            }
        }

        nav{
            display:flex;
            flex-grow:1;
            justify-content: flex-end;

            ul{
                display:flex;

                li{
                    margin-left: 20px;;
                }
            }
        }
    }

    .container{
        margin:0 auto;
        h2{
            font-family :"Montserrat", sans-serif;
            color:$white;
            font-weight:bold;
        }
    }
}