@import "./reset";

body,
html {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
    color: coral;
    font-family: "Roboto", sans-serif;
}
.container {
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: white;
    }
    .question {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(black, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        padding: 20px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .btn-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        margin-top: 50px;

        a {
            flex-grow: 1;
            background: coral;
            color: white;
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            transition: 0.2s ease-in-out;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }

            &[href="#"] {
                opacity: 0.5;

                &:hover {
                    transform: scale(1);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .error,
    .success {
        color: white;
        padding: 15px 30px;
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(black, 0.2);
        margin: 0 auto;
        width: 300px;
        margin-top: 60px;

        &.error {
            background-color: #a60000;
        }
        &.success {
            background-color: #00a600;
        }
    }

    .back-home {
        margin: 40px auto;
        display: block;
        text-align: center;
        text-decoration: none;
        color: coral;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        width: fit-content;
        padding: 10px;
        transition: 0.2s ease-in-out;

        &:hover::after {
            width: 100%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 3px;
            background-color: coral;
            bottom: 0px;
            left: 0;
            transition: 0.2s ease-in-out;
        }

        i {
            margin-left: 20px;
            font-size: 25px;
        }
    }
}
