// !COLOR
$darkGrey: #595143;
$lightGrey: #8c877d85;
$white: #f4f3f9;
$red: #a62317;
$black: #000;

// !TEXT
$montSerrat: "Montserrat", sans-serif;
$rozhaOne: "Rozha One", serif;
$fs-p: calc(1vmin + 10px);
$fs-h2: calc(3vmin + 10px);

// !STYLES
$borderRadius: 4px;
$transition: 0.3s ease-in-out;
