@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&family=Rozha+One&display=swap");
@import "./reset";
@import "./variables";
@import "./mixins";

// !LAYOUT
@import "./layout/header";
@import "./layout/footer";

// !PAGES
@import "./pages/home";
@import "./pages/agency";
@import "./pages/team";
@import "./pages/reels";
@import "./pages/contact";
@import "./pages/404";

// !GENERAL
body {
    background: $lightGrey;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #000;
}
ul {
    list-style: none;
    padding-left: 0;
}
a {
    text-decoration: none;
    transition: $transition;
}
.container {
    width: 1000px;
    padding: 100px 0;
    margin: 0 auto;
}

// !COMPONENT
@import "./components/buttons";
@import "./components/cta";
@import "./components/inputGroup";
@import "./components/realize";
@import "./components/modal";

// !TEXT
h2 {
    font-family: $rozhaOne;
    font-size: $fs-h2;
    font-weight: 400;
    text-transform: uppercase;
}
.t-center {
    text-align: center;
}

.c-dark {
    color: $darkGrey;
}
.c-light {
    color: $lightGrey;
}

h2.lower {
    font-family: $rozhaOne;
    font-size: $fs-h2;
    font-weight: 400;
    text-transform: unset;
}

p,
.text {
    font-family: $montSerrat;
    font-size: $fs-p;
    font-weight: 400;
    line-height: 150%;
}
.link {
    color: $white;
    font-weight: bold;
    font-size: $fs-p;
    transition: $transition;

    &:hover {
        opacity: 0.6;
    }
}

.bdd {
    white-space: pre-wrap;
}
