@import "./reset";

body {
   background: #000;
   height: 100vh;
}
video {
   display: block;
   margin: 0 auto;
   height: 100%;
   pointer-events: none;
}

.controls {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 15px 20px;
   background: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(10px);

   .play,
   .pause,
   .fullscreen,
   .volume {
      margin-right: 10px;
      font-size: 25px;
      color: white;
      cursor: pointer;

      &.hide {
         display: none;
      }
   }

   #watched {
      width: 80%;
      transition: 0.2s linear;
   }

   .duration {
      color: white;
   }

   .otherControl {
      display: flex;
      .volume {
         margin-right: 50px;
      }
   }
}
