@import "./reset";

body,
html {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.container {
   position: relative;

   img {
      &:nth-child(1) {
         filter: brightness(0.2);
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}
