form.auth-form {
    background: rgba($white, 0.4);
    width: 100%;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba($black, 0.5);
    backdrop-filter: blur(10px);

    h2 {
        color: $primary;
        text-align: center;
    }
}
.form-group {
    margin: 25px 0;
    position: relative;

    label {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 20px;
        margin: 10px 0;
        pointer-events: none;
        transition: 0.3s ease-in-out;
        color: $primary;
    }

    input {
        width: 100%;
        border: 2px solid $primary;
        outline: none;
        background: transparent;
        border-radius: 5px;
        font-size: 20px;
        padding: 10px 10px;
        color: $primary;
        transition: 0.3s ease-in-out;

        &::placeholder {
            color: transparent;
        }
        &:focus + label,
        &:not(:placeholder-shown) + label {
            transform: translateY(-150%);
            font-size: 13px;
            color: $secondary;
        }
        &:focus,
        &:not(:placeholder-shown) {
            border-color: $secondary;
        }
    }
}
@import "./checkbox";
