#realisations,
#prestations {
   .relative {
      &:hover::after {
         opacity: 1;
      }
      &::after {
         position: absolute;
         content: "";
         font-weight: 400;
         display: flex;
         justify-content: center;
         align-items: center;
         color: $white;
         background: $redTransparent;
         transition: 0.3s;
         opacity: 0;
         cursor: pointer;
      }

      &.reels::after {
         content: "+";
         top: 0;
         left: 0;
         margin: 8px 12px;
         width: calc(100% - 24px);
         height: calc(100% - 16px);
         font-size: 5vw;
      }

      &.prests::after {
         content: attr(data-label);
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         font-size: 2vw;
      }
   }
}
