[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
   position: absolute;
   left: 0;
   opacity: 0.01;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
   position: relative;
   padding-left: 2.3em;
   line-height: 1.7;
   cursor: pointer;
}

[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 20px;
   height: 20px;
   border: 1px solid #aaa;
   background: #fff;
   border-radius: 5px;
   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
   transition: all 0.275s;
}

[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
   content: "";
   position: absolute;
   width: 15px;
   height: 15px;
   top: 4px;
   left: 3.5px;
   background: #d7a026;
   border-radius: 4px;
   transition: all 0.2s; /* Petite transition */
}

[type="checkbox"]:not(:checked) + label::after {
   opacity: 0;
   transform: scale(0) rotate(90deg);
}
[type="checkbox"]:checked + label::after {
   opacity: 1;
   transform: scale(1) rotate(0);
}
