@import "./reset";
@import "./mixins";

$orange: #f79201;
$red: #b90018;
$yellow: #ede335;

@font-face {
   font-family: "Saiyan-Sans";
   src: url("../../fonts/Saiyan-Sans.ttf") format("truetype");
}

body {
   min-height: 100vh;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@import "./section/loader.scss";

.container {
   position: relative;
   background: url("../../img/shenron.webp");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 25%;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   z-index: 0;

   @import "./section/title.scss";
   @import "./section/vegeta.scss";
   @import "./section/bandeau.scss";
   @import "./section/circleDragonBall.scss";
   @import "./section/nuageKararot.scss";
   @import "./section/shareGames.scss";
   @import "./section/btnContainer.scss";
   @import "./section/carousel";
}
.freeza-animation {
   position: relative;
   height: 70vh;
   overflow: hidden;

   @import "./section/freezer";
}
@import "./section/modal.scss";

@import "./animations";
