@import "./reset";

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(25deg, #156586, #6789a5, #a6aec5, #e4d4e6);
   .game-emplacement,
   canvas {
      height: 95vh;
      margin: 0 auto;
      border-radius: 10px;
   }
}
