@import "./reset";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

$pink: #dd1352;
$bg-grey: #f4f3f9;
$white: #fff;
$black: #111;

@import "./generique";

body {
   font-family: "Roboto", sans-serif;
   background: $bg-grey;
   font-size:20px;
   color:#000;
}

@import "./section/header";
@import "./section/hero";
@import "./section/about";
@import "./section/secretAndSubscribe";
@import "./section/box";
@import "./section/footer";

@import "./responsive";