$textOnWhite: #666666;
$textOnDark: #d4d4d4;
$menuColor: #89898b;
$textFooter: #f7f7f7;

$bg-light: #f9f9f9;

$anthracite: #48494b;
$black: #3b3d40;
$white: #fff;
$blue: #2e71f2;
$darkGrey: #767273;

$transition: 0.3s ease-in-out;
$borderRadius: 9999px;

$fs-textSmall: 14px;
$fs-textLarge: 20px;
$fs-textBig: 34px;
$fs-subtitle: 24px;
$fs-title: 52px;

$fontRaleway: "Raleway", sans-serif;
$fontLora: "Lora", serif;
