@import "./reset";

// VARIABLES
$Plante: #00d003;
$Poison: #5f009e;
$Feu: #ed3700;
$Eau: #0030cc;
$Electrik: #ddd201;
$Roche: #6f4f30;
$Psy: #c700b0;
$Fee: #f767e1;
$Glace: #00e8e1;
$Insecte: #007902;
$Normal: #d2d2d2;
$Sol: #9d804b;
$Vol: #2473c3;
$Tenebre: #353535;
$Combat: #d64d03;
$Acier: #848484;
$Fantome: #2c005b;
$Dragon: #00b0c7;
$Default: #000000;

@mixin colorType($type, $selector) {
   .container ul li a[data-type="#{$selector}"] {
      background-color: $type;
      color: lighten($type, 70%);

      &.active {
         border-color: darken($type, 20%);
      }
   }

   .container .content .pokemon div span.#{$selector} {
      background-color: $type;
      color: lighten($type, 70%);
   }
}

@include colorType($Plante, "Plante");
@include colorType($Feu, "Feu");
@include colorType($Eau, "Eau");
@include colorType($Electrik, "Electrik");
@include colorType($Poison, "Poison");
@include colorType($Roche, "Roche");
@include colorType($Psy, "Psy");
@include colorType($Fee, "Fee");
@include colorType($Glace, "Glace");
@include colorType($Insecte, "Insecte");
@include colorType($Normal, "Normal");
@include colorType($Vol, "Vol");
@include colorType($Sol, "Sol");
@include colorType($Tenebre, "Tenebre");
@include colorType($Combat, "Combat");
@include colorType($Dragon, "Dragon");
@include colorType($Acier, "Acier");
@include colorType($Fantome, "Fantome");

body {
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   background-color: #eee;
}

.container {
   width: 1200px;
   margin: 0 auto;

   h1 img {
      margin-bottom: 30px;
      width: 25%;
   }
   ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      padding: 0;

      li {
         flex-grow: 2;
         width: calc(100% / 10);
         margin: 5px;
         a {
            text-align: center;
            display: block;
            width: 100%;
            text-decoration: none;
            border: 3px solid transparent;
            padding: 7px 15px;
            color: #777;
            transition: 0.4s ease-in-out;
            font-size: 20px;
            border-radius: 5px;
            background: #fff;
            outline: none;
            transition: 0.3s ease-in-out;

            &:hover {
               transform: scale(1.05);
            }

            &.active {
               border: 3px solid #000;
            }
         }
      }
   }

   #search {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px 5px 0 0;
      font-size: 20px;
      outline: none;
      margin: 20px 0;
      border-bottom: 5px solid transparent;
      transition: border 0.4s ease-in-out;

      &:focus {
         border-color: $Eau;
      }
   }

   .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      .pokemon {
         border-radius: 5px;
         margin: 5px;
         background: #fff;
         color: #333;
         padding: 30px;
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         align-items: center;
         width: calc((1200px - 10px * 5) / 5);
         max-width: 32%;
         flex-grow: 2;
         box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
         // filter: grayscale(1);
         transition: filter 0.2s ease-in-out;

         // &:hover {
         //    filter: grayscale(0);
         // }

         img {
            width: 100%;
         }

         h2 {
            text-transform: uppercase;
            color: #333;
         }

         div {
            display: flex;
            justify-content: space-between;
            width: 100%;

            span {
               flex-grow: 2;
               width: 48%;
               text-align: center;
               background: $Default;
               margin: 0 2px;
               color: #333;
               border-radius: 5px;
               padding: 5px 15px;
               color: #eee;
            }
         }
      }
   }
}

@media screen and (max-width: 1200px) {
   .container {
      width: 97%;

      ul {
         flex-wrap: wrap;
      }
   }
}
@media screen and (max-width: 900px) {
   .container .content .pokemon {
      width: 48%;
   }
}
@media screen and (max-width: 534px) {
   .container .content .pokemon {
      width: 100%;
      margin: 10px 0;
   }
}
